doctype
html( lang="it" )
    head
        title CESOP Demo
        //- Bootstrap
        link(href="/bootstrap.min.css", rel="stylesheet")
        link(href="/style.css", rel="stylesheet")
    body
        .container
            .header
                form(name="input", action="/cerca", method="post")
                    div.form-row.align-items-center
                        div.col-sm-9
                            input.cerca(type="text", name="cerca", placeholder="Cerca" required)

                        div.col-auto
                            button(type="submit", class="btn btn-primary") Cerca
            .row
                .risultati
                    ul.listaRisultati
                        for docu in documents
                                li.singolo
                                    p.risultato
                                        strong #{docu.nome} #{docu.cognome}
                                    if mode
                                        p.risultato
                                            strong
                                                mark Competenze:
                                            for cl in docu.competenzeLabels
                                                span &nbsp; #{cl}
                                        p.risultato
                                            strong
                                                mark Parents:
                                            for clp in docu.competenzeParentsLabels
                                                span &nbsp; #{clp}
                                        p.risultato
                                            strong
                                                mark Ancestors:
                                            for cla in docu.competenzeAncestorsLabels
                                                span &nbsp; #{cla}
            .row
                .risultati
                    if nris != 1
                        p.totale #{nris} risultati in #{total} secondi
                    else
                        p.totale #{nris} risultato in #{total} secondi